<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.asmide.junlee.ui.editor.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.asmide.junlee.ui.editor.Perspective"
            id="com.asmide.junlee.ui.editor.perspective">
      </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.asmide.junlee.ui.editor.ASMEditor"
            default="true"
            extensions="asm"
            id="com.asmide.junlee.ui.editor.ASMEditor"
            name="ASMEditor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.asmide.junlee.ui.editor.view.TestView"
            id="com.asmide.junlee.ui.editor.testview"
            name="testview"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.asmede.junlee.ui.memu.OpenFile"
            commandId="com.asmide.junlee.ui.editor.commandopenfile">
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.WizardHandler$Import"
            commandId="com.asmide.junlee.ui.editor.commandimport">
      </handler>
      <handler
            class="org.eclipse.ui.internal.handlers.WizardHandler$New"
            commandId="com.asmide.junlee.ui.editor.newfile">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="com.asmede.junlee.ui.memu.OpenFile"
            id="com.asmide.junlee.ui.editor.commandopenfile"
            name="openfile">
      </command>
      <command
            id="com.asmide.junlee.ui.editor.commandimport"
            name="import">
      </command>
      <command
            id="com.asmide.junlee.ui.editor.newfile"
            name="NewFile">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <command
                  commandId="com.asmide.junlee.ui.editor.commandimport"
                  label="import"
                  style="push">
            </command>
            <command
                  commandId="com.asmide.junlee.ui.editor.commandopenfile"
                  label="openfile"
                  style="push">
            </command>
            <command
                  commandId="com.asmide.junlee.ui.editor.newfile"
                  label="newfile"
                  style="push">
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="com.example.test"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.navigator.ProjectExplorer">
         </view>
      </perspectiveExtension>
   </extension>

</plugin>
